*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-color:#BDBDB1;
    font-family: Stalinist One;
    text-align: center;
    position: sticky;
}

html {
    font-family: "Quantico";
}

.logo{
    margin-left: 5px;
    width: 300px;
    height: 150px;
}

#search{
    border-radius: 20px;
    font-size: 20px;
}

.search{
    width: 20px;
    height: 20px;
}

.btnHeader{
    color:rgb(36, 35, 33);
    background-color: #BDBDB1;
    font-size:25px;
    border-radius: 20px;
    border-color: #BDBDB1;
    margin-left: 5px;
    margin-left: 10px;
    line-height: 50px;
    text-align: center;
    width: 150px;
    height: 50px;
    font-weight: bold;
}

.btnHeader:hover{
    background-color: rgb(126, 126, 139);
}

.slider{
    padding: 20px;
    text-align: center;
}

.filtersContainer{
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: center;
    margin: 20px 20px;
}

.filters{
    margin-left: 30px;
    margin-right: 30px;
}

.select{
    color:rgb(36, 35, 33);
    background-color: #BDBDB1;
    font-size:20px;
    border-radius: 20px;
    border-color: #BDBDB1;
    text-align: center;
    width: 200px;
    height: 40px;
}

label{
    font-size: 20px;
    font-weight: bold;
}

.aboutUsClass{
    display:flex;
    background-color: cornsilk;
    border:darkblue;
    flex-direction: column;
    padding-top: 50px;
    text-align: center;
    font-size: 20px;

}

footer{
    background-color:#BDBDB1;
    font-family: Stalinist One;
    text-align: center;
    position: sticky;
}

.iconFooter{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@1,700&family=Stalinist+One&display=swap');




.row ::after {
    content: "";
    clear:both;
    display: grid;
}
[class*="col-"]{
    float: center;
    padding: 15px;
}


.row ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor:pointer;

}
a{
    list-style-type: none;
    display: inline;
    float: center;
    flex-direction:row;
    padding: 7px;
    margin-top: 0px;
    background-color: #019DB1;
    color: #ffff;
    box-shadow: 0 1px 3px rgba(51, 15, 15, 0.644), 0 1px 2px rgba(39, 37, 37, 0.479);
}

a:hover{
    background-color: #01559A;
}

.footer {
    background-color: #BDBDB1;
    color: black;
    text-align: center;
    font-size: 10px;
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 75%;


}

[class*="col-"]{
    width: 100%;
}

@media only screen and (min-width: 600px){
    /*tablets*/

    /*
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
*/
/*
@media only screen and (min-width: 768 px){
    /*desktop*/
    /*
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
};
*/
/*
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
    perspective: 200px;
    width: 150px;
    height: 120px;
}
.loader span{
    width: 33.33%;
    height: 33.33%;
    float: left;
    background: #ccc;
    transform-style: perserve-3d;
    animation: loading 250ms linear infinites;
}
.loader span:nth-chil(1){
    background: #943048;
    animation-delay: 100ms;
}
.loader span:nth-child(3){
    background: #d7532d;
    animation-delay: 200ms;
}
.loader span:nth-child(3){
    background: #d2cabb;
    animation-delay:300ms;
}
.loader span:nth-child(4) {
    background:#9faad0;
    animation-delay:400ms;
}
.loader span:nth-child(5) {
    background:#b39a3b;
    animation-delay:500ms;
}
.loader span:nth-child(6) {
    background:#dc2c34;
    animation-delay:600ms;
}
.loader span:nth-child(7) {
    background:#ece5be;
    animation-delay:700ms;
}
.loader span:nth-child(8) {
    background:#d07500;
    animation-delay:800ms;
}
.loader span:nth-child(9) {
    background:#798399;
    animation-delay:900ms;
}
@keyframes loading {
0% {
    transform:rotateY(0deg);
}
10% {
    transform:rotateY(180deg);
}
70%,100% {
    transform:rotateY(0deg);
}
}

*/
