*{
    margin: 0;
    padding: 0;
}

.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}


.header{
    background-color:#7fa9ae;
    padding:2rem auto;
    position:fixed;
    left: 0;
    top:0;
    right: 0;

}

.navigation ul{
    list-style: none;
}

.navigation ul li{
    display: inline-block;
    align-items: stretch;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-img{
    max-width: 300px;
    width: 200px;
}

.header a{
    color: rgb(241, 235, 235); 
    font-size: 30px;
    align-items: center;
    text-decoration: none;

}

.tarjetas{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
}


.tarjeta{
    border: 1px solid black;
    border-radius: 25px;
}


.img-tarjeta{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


#contenedorImagenes{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 5%;
}


footer{
    display: flex;
    background-color:#7fa9ae ;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0%;
    margin: 0%;  
}


a:hover{
    background-color: #012169;
}


@media only screen and (max-width: 767px) {
    .header{
        background-color:#7fa9ae;
        padding:2rem auto;
        position:fixed;
        left: 0;
        top:0;
        right: 0;
        justify-content: center;
    
    }
    .navigation{
        width: 100%;
        margin-top: 1rem;
    }

    .navigation ul li{
        display: block;
    }
    
    .navigation ul li a{
        display: block;
        padding: 0.5rem;
        transition: all 0.4s linear;
    }
    
    .logo-nav-container{
        display: flex;
        justify-content: space-between;
    }
    
    .header a{
        color: rgb(241, 235, 235); 
        font-size: 150%;
        align-items: center;
        text-decoration: none;
    }
  }


.slider {
    width:100%;
    margin: auto;
    overflow: hidden;
    background-color: white;
    width:960px;
    height:480px;  
}

.slider ul{
    display: flex;
    padding: 0px;
    margin:0;
    width:960px;
    height:480px;  
    animation : cambio 30s infinite alternate;
    animation-timing-function: ease;
    position: relative;
    margin-top: 250px; 
}


.slider li {
    margin: 0;
    padding:0;
    list-style: none;
}


.slider img {
    width:960px;
    height:480px; 
    object-fit: cover;
    object-position: center center;
    
}

@keyframes cambio{
    0% { margin-left : 0; }
    10% { margin-left: 0; }

    15% {margin-left: -100%; }
    25% {margin-left: -100%; }
    
    35% {margin-left: -200%; }
    45% {margin-left: -200%; }

    50% {margin-left:-300%; }
    65%{margin-left: -300%; }

    70% {margin-left: -400%; }
    80% {margin-left: -400%; }

    85% {margin-left: -500%; }
    100% {margin-left: -500%; }

}

