
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@1,700&family=Stalinist+One&display=swap');

*{
    box-sizing: border-box;
    margin:1px auto;

}

.screen{
    display:none;
}


header {
    background-color:#7FA9AE;
    color:antiquewhite;
    padding: 0px;
    font-family: Stalinist One;
    width:100%;
    display:flex;
    position: absolute;
}
.head-1{
    display:flex;
    justify-content: left;
    margin: 8px auto;

}

.head-2{
    display: flex;
    justify-content: center;
    width: 70%;
}

header img{
    width:10em;
    height:8em;

}



.row ::after {
    content: "";
    clear:both;
    display: grid;
}
[class*="col-"]{
    float: center;
    padding: 15px;
}



.row ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor:pointer;
}
/* a{
    list-style-type: none;
    display: inline;
    float: left;
    flex-direction:row;
    padding: 7px;
    margin-top: 0px;
    background-color: #019DB1;
    color: #ffff;
    box-shadow: 0 1px 3px rgba(51, 15, 15, 0.644), 0 1px 2px rgba(39, 37, 37, 0.479);
}

a:hover{
    background-color: #01559A;
} */

footer {
    background-color: #F1EDE9;
    color: black;
    text-align: center;
    font-size: 10px;
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 75%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer img{
    width:2.3em;
    height:2em;
    object-fit: contain;
    margin:0 auto;
}


/* [class*="col-"]{
    width: 100%;
} */

@media only screen and (min-width: 600px){
    /*tablets*/
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768 px){
    /*desktop*/
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
};

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
    perspective: 200px;
    width: 150px;
    height: 120px;
}
.loader span{
    width: 33.33%;
    height: 33.33%;
    float: left;
    background: #ccc;
    transform-style: perserve-3d;
    animation: loading 250ms linear infinites;
}
.loader span:nth-chil(1){
    background: #943048;
    animation-delay: 100ms;
}
.loader span:nth-child(3){
    background: #d7532d;
    animation-delay: 200ms;
}
.loader span:nth-child(3){
    background: #d2cabb;
    animation-delay:300ms;
}
.loader span:nth-child(4) {
    background:#9faad0;
    animation-delay:400ms;
}
.loader span:nth-child(5) {
    background:#b39a3b;
    animation-delay:500ms;
}
.loader span:nth-child(6) {
    background:#dc2c34;
    animation-delay:600ms;
}
.loader span:nth-child(7) {
    background:#ece5be;
    animation-delay:700ms;
}
.loader span:nth-child(8) {
    background:#d07500;
    animation-delay:800ms;
}
.loader span:nth-child(9) {
    background:#798399;
    animation-delay:900ms;
}
@keyframes loading {
0% {
    transform:rotateY(0deg);
}
10% {
    transform:rotateY(180deg);
}
70%,100% {
    transform:rotateY(0deg);
}
}
